<%- include partials/header.ejs %>
<body id="login">
  <div class="modal-dialog text-center">
    <div class="col-sm-10 main-section">
      <div class="modal-content">
        
        <div class="col-12 user-img">
          <img src="/img/user.png">
        </div>

        <span class="h4 mb-3 text-light">Login</span>
        
        <form class="col-12">
          <div class="form-group inputIcon" id="user-group">
            <input type="text" name="a" class="form-control" placeholder="Email">
            <i class="fas fa-at fa-lg fa-fw" aria-hidden="true"></i>
          </div>
         
          <div class="form-group inputIcon" id="password-group">
            <input type="password" class="form-control" placeholder="Senha">
            <i class="fas fa-lock fa-lg fa-fw" aria-hidden="true"></i>
          </div>
          
          <button type="submit" class="btn btn-primary btn-block btn-lg mt-4"><i class="fas fa-sign-in-alt"></i> Entrar</button>
        </form>

      </div>
    </div>
  </div>
</body>
<%- include partials/footer.ejs %>