<nav class="header navbar navbar-expand bg-dark">
    <a href="" class="navbar-brand font-weight-bold painel-controle">Painel de Controle</a>

    <!-- Perfil Usuário -->
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown ">
                <a href="" class="nav-link dropdown-toggle font-weight-bold mr-1" data-toggle="dropdown">
                    Fulano de Tal
                </a>

                <div class="dropdown-menu">
                    <a href="#" class="dropdown-item">Meus Dados</a>
                    <a href="#" class="dropdown-item">Sair</a>
                </div>
            </li>
        </ul>
    </div>

    <!-- Buscar -->
    <div id="form-busca">
        <form class="form-inline">
            <input type="text" placeholder="Buscar..." class="form-control">
            <input type="submit" name="" id="" value="Ok" class="btn btn-danger ml-2">
        </form>
    </div>
</nav>