<div class="side-nav bg-dark">
    <nav>
        <ul>
            <li>
                <a href="#">
                    <span><i class="fas fa-home"></i></span>
                    <span>Home</span>
                </a>
            </li>
            <li >
                <a href="#">
                    <span><i class="fas fa-users-cog"></i></span>
                    <span>Administradores</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span><i class="fas fa-users"></i></span>
                    <span>Clientes</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span><i class="far fa-credit-card"></i></span>
                    <span>Mensalidades</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span><i class="fas fa-cube"></i></span>
                    <span>Pacotes</span>
                </a>

            </li>
            <li>
                <a href="#">
                    <span><i class="fas fa-chart-pie"></i></span>
                    <span>Relatórios</span>
                </a>
            </li>
        </ul>
    </nav>
</div>