* {
    box-sizing: border-box;
}

/* Login */
body#login {
    background: url('../img/fundo.jpeg') no-repeat center center fixed;
    background-size: cover;
}

.main-section {
    margin: 0 auto;
    margin-top: 30%;
    padding: 0;
}

.modal-content {
    background-color: #3b4652;
    opacity: .97;
    padding: 0 20px 40px;
    box-shadow: 0px 0px 3px #848484;
}

.user-img {
    margin-top: -50px;
    margin-bottom: 35px;
}

.user-img img {
    width: 100px;
    height: 100px;
    box-shadow: 0px 0px 3px #848484;
    border-radius: 50%;
}

.form-group input {
    height: 50px;
    font-size: 18px;
    border: 0px;
    padding-left: 40px;
    border-radius: 5px;
}

.inputIcon {
    position: relative;
}

.inputIcon i {
    position: absolute;
    left: 0;
    top: 8px;
    padding: 9px 8px;
    color: #aaa;
    transition: 2s;
}

.inputIcon input[type=text]:focus + i,
.inputIcon input[type=password]:focus + i{
    color: dodgerblue;
}

/* ==================================================== */

body {
    margin: 0;
    padding: 0;
    background: url('/img/fundo2.jpg');
}

/* NAVBAR */

.header {
    position: absolute;
    height: 55px;
    width: 100%;
    /* background-color:#191970; */
    z-index: 4;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
}

.header a {
    color: #000;
    font-family: cursive;
}

/* NAVSIDE */

.side-nav {
    position: absolute;
    width: 100%;
    background-color: #666;
    height: 100vh;
    z-index: 3;
    padding-top: 55px;
}

.side-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-nav ul li {
    padding: 20px 10px;
    border-bottom: 1px solid #333;
}

.side-nav ul li a {
    color: #fff;
    text-decoration: none;
}

.side-nav ul li i {
    color: #D3D3D3;
}

.side-nav ul li a:hover {
    font-size: 1.1em;
}

.main-content {
    padding-top: 50px;
}

@media screen and (min-width: 200px) {
    .side-nav {
        width: 80px;
    }

    .side-nav ul li {
        text-align: center;
    }

    .side-nav ul li span:nth-child(2) {
        display: none;
    }

    .side-nav ul li i {
        font-size: 26px;
    }

    .main-content {
        margin-left: 95px;
        margin-right: 25px;
    }

    #form-busca {
        display: none;
    }
}

@media screen and (min-width: 660px) {
    #form-busca {
        display: flex;
    }
}

@media screen and (min-width: 600px) {
    .side-nav {
        width: 80px;
    }

    .side-nav ul li {
        text-align: center;
    }

    .side-nav ul li span:nth-child(2) {
        display: none;
    }

    .side-nav ul li i {
        font-size: 26px;
    }

    .main-content {
        margin-left: 95px;
        margin-right: 25px;
    }
}


@media screen and (min-width: 1000px) {
    .side-nav {
        width: 200px;
    }

    .side-nav ul li {
        text-align: left;
    }

    .side-nav ul li span:nth-child(2) {
        display: inline;
    }

    .side-nav ul li i {
        font-size: 16px;
    }

    .main-content {
        margin-left: 215px;
        margin-right: 25px;
    }
}

/* HOME */

#cards span {
    font-size: 2em;
}

#cards .card {
    margin-top: 25px;
}